@import "tailwindcss";
@font-face {
    font-family: 'MiFuente';
    src:url('/fonts/dalfitra.otf') format('opentype'),
        url('/fonts/dalfitra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    body {
    font-family: 'MiFuente', sans-serif;
}
